<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <add key="AWSProfileName" value="ingenieux" />
        <add key="AWSRegion" value="us-east-1" />
    </appSettings>
</configuration>
